

{{#each products  }}
<div class="main" onmousemove='locate(event)' onclick='click(event)' >
    {{#each this}}
	<div class="kala 1 menarjonboun" >
		<div  class="picture" data-aos="fade-up" data-aos-anchor-placement="center-bottom"  ><img   src="{{ this.imagePath }}"   ></div>
		<div class="details " data-aos="fade-down" data-aos-anchor-placement="center-bottom">
			<h1>{{ this.title }}</h1>
			<span>{{ this.description }}</span>
            <div id ="DIV1" class="price" style="margin-top: 8px;">  شرکت:   {{ this.company }}</div></br>
			<div id ="DIV1" class="price">{{ this.price }}  :قیمت</div></br>
             <a href="/add-to-cart/{{this._id}}" class="btn btn-success" role="button">add to shop</a>							
		</div>
	</div>
	{{/each}}
</div>
{{/each}}


